.sidebar_user_info_custom {
    padding: 5px 15px;
    padding-top: 6px;
    background: #214162;
}

.table-hover-custom tbody tr:hover,
.table-hover-custom tbody tr:focus {
    background-color: #ddd !important;
    color: #fff;
}
.footer-custom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.footer-custom p {
    color: white;
    font-size: 14px;
}
.circle-image{
    border-radius: 50%;
}
.language-custom{
color: white;
}
.navbar-item .active {
    background-color: #4CAF50; /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
  }
  
  .contact_inner .left-cus {
    width: 70%;
    float: left;
    padding-right: 20px;
}
.right_button button {
    margin-right: 10px;
  }
  
  .right_button button:last-child {
    margin-right: 0;
  }
  
.error-message{
    color: red;
}
.red_start{
    color: red;
}
.blue_color_custom {
    color: #34a83e !important;
} 

.modal-dialog-left {
        position: absolute;
        left: 0;
        margin-left: 0;
        transform: none;
    }

    .modal-dialog {
        max-width: none;
        margin-top: 4.5rem;
       
    }
    
    .form-group{
        width: 100%;
        max-width: 500px;
    }
