.block-design{
    position: relative;    
    display: block;

    .design-zone-container{
        width: unset;
    }

    .placeholder{
        display: block;
        width: 100%;
        
        .default-text{
            
            font-size: 14px;
            display: block;
            padding: 12px;
            text-align: center;
        }
    }

    .grid-active{
        background-color: #ccc;
        pointer-events: initial;
        &:hover{
            background-color: #aaa;
            cursor: pointer;
        }
    }

    .flex-utilities{
        position: absolute;
        right: 0;
        bottom: 0;     
        
        .style-group{
            display: flex;                
            padding: 4px;

            .icon-ne{
                font-size: 24px;
                padding: 0.25em;
                margin: 4px;                                
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}


.flex2-design-active{
    padding-right: 10em;
}