.preview{

    .text {
        margin: 1em;
    }

    .text-design{
        margin: 1em;
    }

    .table-design{

        .preview{
            margin-top: 0;
        }
    }

    .entry-button{        
        cursor: pointer;
    }
}