.table-design{

    .icon-red{
        color:red
    }

    .icon-flammel{
        color: #ff6655;
    }

    .icon-blue{
        color: blue
    }

    .icon-green{
        color: green
    }

    .icon-purple{
        color: purple
    }

    .icon-black{
        color: black;
       
    }

    .icon-1{
        color: #0F0F0F;
        
    }
    .icon-2{
        color: #005B41;
    }

    .icon-3{
        color: #FF004D;
    }
    
    .icon-4{
        color: #5D3587;
    }
    
    .icon-5{
        color: #ff7b00;
    }

    .dark-icon{
        &:hover{
            color: #fff;
        }
    }

    .table-name{
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;

        span{
            font-size: 16px;
            font-weight: bold;
            color: #000;
            // padding: 8px 12px;
            display: flex;            
            align-items: center;
        }



        .main-input{
            flex-grow: 1;
            font-size: 16px;
            padding: 0.5em;
            color: #000;
            border: none;
            outline: none;
            background-color: transparent;
            border: 1px solid transparent;
        }
    
        .input-active{
            // border: 1px solid #ccc;
        }

        .edit-icon{
            width: 36px;            
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }   
    
    
    .configs{
        overflow: hidden;
        
        .title{
            span{
                font-size: 1.25em;
                display: block;
                
            }
            padding: 0.5em;
        }

        .source-config{
            display: flex;
            flex-wrap: wrap;
        }

        .devider{
            border-top: 1px solid #ccc;
        }

        .source{
            padding: 0.5em;
            display: flex;
            width: max-content;

            .source-title{
                display: flex;
                align-items: center;                  
            }

            .type-selection{                
                width: 225px;
                margin-left: 1em;
                .type{
                    background-color: #fff;
                    border: 1px solid #ccc;
                    
                    display: flex;
                    flex-wrap: nowrap;
                    .type-name{
                        padding: 0.5em 1em;
                        flex-grow: 1;
                    }

                    .type-icon{
                        border-left: 1px solid #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        cursor: pointer;
                    }
                }

                .options-container{
                    position: relative;
                    width: 100%;
                    padding: unset;
                    .options{
                    
                        background-color: #fff;
                        border: 1px solid #ccc;
                        width: calc(100% - 32px);
                        position: absolute;                        
                        top: 0;
                        left: 0;

                        .option{
                            padding: 0.5em;
                            cursor: pointer;

                            display: block;
                            flex-direction: unset;
                            
                            border: unset;
                            border-radius: unset;
                            
                            
                            &:hover{
                                background-color: #ccc;
                            }
                        }
                    }
                }
            }

        }


        .api-drop{
            padding: 0.5em;
            display: flex;
            width: max-content;

            .api-drop-title{
                display: flex;
                align-items: center;          
            }

            .api-drop-checkbox{
                display: flex;
                align-items: center; 
                margin-right: 2em;
                input{
                    transform: scale(1.25);
                }
            }

            .selection{                
                width: 512px;
                margin-left: 1em;
                .select{
                    background-color: #fff;
                    border: 1px solid #ccc;
                    
                    display: flex;
                    flex-wrap: nowrap;
                    .select-name{
                        padding: 0.5em 1em;
                        flex-grow: 1;
                    }

                    .drop-icon{
                        border-left: 1px solid #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        cursor: pointer;
                    }
                }

                .options-container{
                    position: relative;
                    width: 100%;

                    padding: unset;

                    .options{
                    
                        background-color: #fff;
                        border: 1px solid #ccc;
                        width: calc(100% - 32px);
                        position: absolute;                        
                        top: 0;
                        left: 0;
                        max-height: 200px;
                        overflow-y: scroll;

                        .option{
                            padding: 0.5em;
                            cursor: pointer;

                            padding: 0.5em;
                            cursor: pointer;

                            display: block;
                            flex-direction: unset;
                            
                            border: unset;
                            border-radius: unset;                            
                            
                            &:hover{
                                background-color: #ccc;
                            }
                        }
                    }
                }

                .input-box{
                    input{
                        border-radius: 0;
                        border: 1px solid #ccc;
                        outline: none;     
                        padding: 0.5em 1em;     
                        font-size: 16px;
                        height: 38px;
                        width: 96px;
                    }
                }
            }

            .selection-deactive{
                color: #ccc;

                .drop-icon{
                    pointer-events: none;
                }
            }

        }
    }

    .navigation{
        // margin-top: 2em;
    }

    .buttons{
        .api-drop-title{
            width: 108px;
        }
    }

    .visibility{
        .group{
            display: flex;
        }
        .selection{
            width: max-content !important;
        }
    }

    .preview{
        font-size: 0.9em;
        margin-top: 2em;
        
        .top-utils{
            display: flex;
            justify-content: flex-end;
            padding: 6px 12px;
            
            
            .util{
                font-size: 2em;
                // padding: 0.5em 0;
                cursor: pointer;
                margin-left: 0.5em;                
            }
        }

        .devider{
            display: block;
            width: 100%;
            border-top: 2px solid #f8f8f8;
            margin: 0;
        }

        .preview-table{
            background-color: #fff;
            border: 1px solid #ccc;
            border-collapse: collapse;
            width: calc(100% - 24px);
            margin: 12px;
      
            thead td {
                font-weight: bold;
                background-color: #f0eaea;
            }

            tr{
            }
            
            th, td{
                padding: 8px;                
                border: 1px solid #ccc;
            }

            .approve-field{
                background-color: #007bff;
                color: #fff;
            }

            .unapprove-field{
                background-color: #ff7b00;
                color: #fff;
            }

            .approve-field-unapprove-field{
                background-color: #5D3587;
                color: #fff;
            }

            .search-cell{
                padding: none;
                input{
                    outline: none;
                    border: 1px solid #ccc;
                    width: 100%;
                    padding: 4px 6px;
                }
            }
            .search-icon{
                padding: 4px
            }

            .table-icons{
                width: 0;

            }

            .icons{
                display: flex;
                
            }
            .table-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.65;

                padding: 0.25em;
                font-size: 16px;
                width: 32px;
                height: 32px;
                cursor: pointer;
                // border-radius: 50%;
                border: 1px solid;
                margin: 0 2px;

                &:hover{
                    background-color: #000;
                    // color: #fff;
                }
            }
        }
    }
}

.table-preview-state{
    background-color: #fff;
    border-radius: 6px;
    margin: 4px;
    box-shadow: 1px 1px 1px 1px #ccc;
    padding: 0px !important;
    border: 1px solid #ccc;
    width: unset;    
}

.navigator-active{
    button{
        color: #ffffff;
        background-color: #007bff;
    }
}
