.text-design{
    position: relative;    

    .main-input{
        width: 100%;
        font-size: 16px;
        padding: 0.5em;
        color: #000;
        border: none;
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
    }

    .input-active{
        border: 1px solid #000;
    }

    .entry-label{
        display: block;
        font-size: 16px;
        padding: 0.5em;
    }

    .required {
        color: red;
        transform: scale(1.5);
    }

    .entry-input{
        width: 100%;
        font-size: 16px;
        padding: 0.5em;
        color: #000;
        border: none;
        outline: none;
        background-color: transparent;
        
        border: 1px solid #777;
    }
}

.entry-design{
    .configs{
        overflow: hidden;
        
        .title{
            margin-top: 1em;
            span{
                font-size: 1.25em;
                display: block;              
            }
            padding: 0.5em;
        }

        .config{
            padding: 0.5em;
            display: flex;
            width: max-content;
            width: 100%;

            .config-title{
                display: flex;
                align-items: center;     
                min-width: 100px;     
            }

            .config-checkbox{
                display: flex;
                align-items: center; 
                margin-right: 2em;
                input{
                    transform: scale(1.25);
                }
            }

            .config-input-container{                
                flex-grow: 1;
                margin-left: 1em;
                .config-input{
                    background-color: #fff;
                    border: 1px solid #ccc;
                    width: 100%;
                    
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 0.5em 1em;                   
                }

                

                .input-box{
                    input{
                        border-radius: 0;
                        border: 1px solid #ccc;
                        outline: none;     
                        padding: 0.5em 1em;     
                        font-size: 16px;
                        height: 38px;
                        width: 96px;
                    }
                }
            }

            .selection-deactive{
                color: #ccc;

                .drop-icon{
                    pointer-events: none;
                }
            }

        }

        .devider{
            border-top: 1px solid #ccc;
        }

    }
}

.entry-header-design{
    display: flex;
    flex-wrap: nowrap;

    .text-entry{
        flex-grow: 1;
    }

    .btns{
        position: absolute;
        top: 12px;
        right: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .edit-icon{
        width: 36px;            
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .entry-button{
        display: block;
        padding: 8px 16px;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: #555;
        color: #fff;
    }
}

.styling-box{
    position: relative;    

    .styling{
        position: absolute;
        top: 1.1em;
        left: 0;            
        width: max-content;
        background-color: #fff;
        box-shadow: 1px 1px 5px 1px #ccc;
        display: flex;            

        .style-group{
            display: flex;                
            padding: 6px;

            .icon-ne{
                font-size: 14px;
                padding: 0.25em;
                margin: 4px;
                border-radius: 6px;
                border: 1px solid #ccc;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        .initial-group{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .special-group{
            display: flex;
            flex-direction: column;

            .title{
                span{
                    display: block;
                    text-align: center;
                    padding: 2px;
                }
            }

            .groups{
                display: flex;
                flex-wrap: nowrap;
            }
        }

        .justify-box{

        }

        .font-box{
            padding: 8px;
            input{
                width: 64px;
                font-size: 14px;
                border-radius: 6px;
                padding: 0.25em;
                color: #000;                    
                outline: none;
                background-color: #fff;
                border: 1px solid #ccc;
            }
        }

        .color-box{                
            flex-direction: column;
            padding: 8px;

            input{
                border: 1px solid #ccc;
                flex-grow: 1;
                display: block;   
                width: 24px;                 
            }
        }
    }
}
